.container-home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h1 {
  font-size: 3.76rem;
  color: #fff;
}

.logo span {
  color: #fff;
  margin-top: 14px;
  margin-bottom: 34px;
  font-size: 18px;
}

.input-area {
  width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slideY 2s;
}


@keyframes slideY{
  from {
    transform: translateY(90px)
  }
  to{
    transform: translateY(0px)
  }
}

.input-area div {
  width: 100%;
  height: 46px;
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .8rem;
}

.input-area svg {
  margin: 0 8px;
}

.input-area input {
  width: 100%;
  background: transparent;
  border: 0;
  height: 46px;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-area input::placeholder {
  color:rgba(255, 255, 255, 0.8);
}

.input-area button {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-radius: 0.8rem;
  background-color: #C8C8C8;
  color: #2B2929;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 16px;
  transition: 0.5s;
}

/* Transition Button  */
.raise {
  --color: #EB9064;
  --hover: #EB9064;
}

.raise:hover,
.raise:focus {
  box-shadow: 0 0.7em 0.7em -0.6em var(--hover);
  transform: translateY(-0.25em);
}




@media (max-width: 615px) {
  .logo img {
    width: 95px;
  }
  .logo h1 {
    font-size: 40px;
  }

  .logo span {
    font-size: 14px;
  }

  .input-area {
    width: 85%;
  }
}

