* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}


body {
  background-color: #2E292E;
  font-family: 'Poppins', sans-serif; 
}

button {
  cursor: pointer;
}


.app {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}